
body {
	background-color: #404040;
	font-family: sans-serif;
}

#main {
	background-color: #d0d0FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #000000;
	width: 800px;
	margin: 0 auto;
	padding: 20px
}

.icon {
	background-image: url("icons.png");
	background-color: transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}


#button {
	position: relative;
	height: 200px;
	width: 200px;
	padding: 20px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-color: rgb(140, 140, 140);
}


#cptl {
	position: absolute;
	top: 20px;
	left: 20px;
}

#cptr {
	position: absolute;
	top: 20px;
	right: 20px;
}

#cpbl {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#cpbr {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#cpcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
}

#cptl, #cptr, #cpbl, #cpbr, #cpcenter{
	width: 30px;
	height: 30px;
	border: 1px solid #000000;
}
