/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 15px;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* updates */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#333;
	background-image: url("/bkg.gif")
}

input {
    font-size:14px;
}

p {
    padding: 10px;
}

br {
  line-height:22px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

#wrapper {
    margin: 0 auto;
    width: 800px;
}

#headerwrap {
    width: 800px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 60px;
    background: #FF9966;
    border-radius: 10px;
    border: 1px solid #eb521f;
    margin: 5px;
}

#navigationwrap {
    width: 800px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #FFEE55;
    border-radius: 10px;
    border: 1px solid #ebb81f;
    margin: 5px;
}

#contentwrap {
    width: 650px;
    float: left;
    margin: 0 auto;
}

#content {
    /*background: #FFFFFF;*/
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    margin: 5px;
}

#subcontent {
    background: #E0E0E0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #33CCFF;
    border-radius: 10px;
    border: 1px solid #1fb8eb;
    margin: 5px;
}

#footerwrap {
    width: 800px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 70px;
    background: #77FFAA;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
	text-align: center;	
}

.link_button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 3px 3px;
    text-decoration: none;	
	max-width: 70px;
	width: 100%;
	display: inline-block;
	text-align: center;	
}

input[type=submit]{
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#E0E0E0;
	border:1px solid #29447E;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	width:70px;
	color:#0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 5px;
}